*{
    font-family: 'Montserrat', sans-serif;
}

.brandName{
    margin: 15px auto;
    text-align: center;
    font-weight: 700;
}

.sideBar{
    max-width: 100vw;
}

a{
    text-decoration: none;
    color: #000;
}